<!DOCTYPE html>
<html>
<head>
  <title>waitercaller</title>
  <link rel="stylesheet" type="text/css" href="./static/home.css">
</head>
<body>
  {% block header %}
  <div class="header">
    <h1 id="logo"><span>HOME<span></h1>
    <form id="sign_in" action="login" method="POST">
      <input type="text" name="email">
      <input type="text" name="password">
      <input type="submit">
    </form>
  </div>
  {% endblock %}
  {% block body %}
  <div class="top">
    <h1>Waiter Caller</h1>
    <p>Your patrons can call their waiter anytime, using only their phone</p>
  </div>
  <div class="mid">
    <div>
      <h1>Simple</h1>
      <p>We can note the advantages of the styling of inputs, headers, the navigation bar, and
      Jumbotron (the gray bar near the top with the oversized Waiter Caller text in it) that
      we can achieve with very little code.</p>
    </div>
    <div>
      <h1>Cost effective</h1>
      <p>We can note the advantages of the styling of inputs, headers, the navigation bar, and
      Jumbotron (the gray bar near the top with the oversized Waiter Caller text in it) that
      we can achieve with very little code.</p>
    </div>
    <div>
      <form id="register" method="POST" action="register">
        <h1>Register now</h1>
        <input type="text" name="email">
        <input type="text" name="password">
        <input type="text" name="password2">
        <input type="submit" value="register">
      </form>
    </div>
    {% endblock %}
  </div>
  <div class="footer">
    Frankline made this
  </div>
</body>
</html>